{% extends '::base.html.twig' %}

{% block title 'YAY...' %}

{% block body %}
{# ... the rest of the template ... #}
    {% for i in 1..count %}
      Hello2 <strong>{{ name }}</strong> # {{ i }}!<br/>
    {% endfor %}
    <h2> Event details </h2>
    {{ event.name }}<br/>
    {{ event.location }}<br/>
{% endblock %}

